#light{
    $color-primary1: #f3001d;
    $color-primary2:#ff004d;
    $color-grey1: #191b1f; 
    $color-grey2: #55585B; 
    $color-grey3: #8990A4;
    $color-grey4: #D5D7DC;
    $color-bg-white: #FCFCFD;
    $color-txt: #FCFCFD;
}

$color-primary1: #f3001d;
$color-primary2:#ff004d;
$color-grey1: #191b1f; 
$color-grey2: #55585B; 
$color-grey3: #8990A4;
$color-grey4: #D5D7DC;
$color-bg-white: #FCFCFD;
$color-txt: #FCFCFD;


$white: #fff;
$black: #000;

$navbar-width: 300px;
$header-shrink-height: 5rem;
$border-radius: 30px;

$mobile-width: 740px;
$tablet-width: 1024px;

$box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;


$gradient: linear-gradient(to right, #f3001d, #ff004d);